body {
   display: flex;
   flex-direction: column;
}
header, footer {
  height: 20vh;
  background-color: antiquewhite;
}
main {
   display: flex;
   flex: 1;
   background-color: aquamarine;
}
nav, aside {
   width: 20vw;
   background-color: brown;
}
article {
   flex: 1;
   background-color: bisque;
}
aside {
   background-color: burlywood;
}